/* #region root */
:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  /* Colors */
  --brand-cl: #4d5ae5;
  --focus-cl: #404bbf;
  --main-txt-cl: #2e2f42;
  --second-txt-cl: #434455;
  --light-txt-cl: #ffffff;
  --second-light-txt-cl: #f4f4fd;
  --border-cl: #e7e9fc;
  --helper-txt-cl: #8e8f99;
  --valid-cl: #31d0aa;
  --modal-btn-cl: #e7e9fc;
  --modal-bg-cl: #fcfcfc;
  --backdrop-cl: #2e2f4266;
  /* Others */
  --indent-col: 24px;
  --indent-row: var(--indent-col);
  --items: 3;
  --trns-reg: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trns-slow: 600ms ease-out;
  --trns-fast: 300ms ease-in;
}
/* #endregion */
/* #region Base styles */
body {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  line-height: inherit;
  color: currentColor;
  cursor: pointer;
}
a {
  color: currentColor;
  text-decoration: none;
}
/* #endregion */
/* #region Common styles */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}
.current {
  color: var(--focus-cl);
}
/* Logo */
.logo {
  font-family: var(--second-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-decor {
  color: var(--brand-cl);
}
/* Buttons */
.btn {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--light-txt-cl);
  background-color: var(--brand-cl);
  box-shadow: 0 4px 4px 0 #00000026;
  border: none;
  border-radius: 4px;
}
.btn-accent:hover,
.btn-accent:focus {
  color: var(--light-txt-cl);
  background: var(--focus-cl);
}
/* Sectons */
.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
}
.section-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.section-descript {
  color: var(--second-txt-cl);
}
/* Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-row, 48px);
  column-gap: var(--indent-col, 24px);
}
.card-set-item {
  flex-basis: calc(
    (100% - var(--indent-col, 24px) * (var(--items, 3) - 1)) / var(--items, 3)
  );
}
.card-set-info {
  padding: 32px 16px;
}
/* #endregion */
/* #region Socials */
.socials-list {
  display: flex;
  gap: 16px;
}
.socials-title,
.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 1em;
  color: var(--light-txt-cl);
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--light-txt-cl);
  background-color: var(--brand-cl);
  transition: var(--trns-reg);
  transition-property: background-color;
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--valid-cl);
}
.socials-icon {
  fill: currentColor;
}
/* #endregion Socials */
/* #region Header */
.header .container {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid var(--border-cl);
}
.header-logo {
  margin-right: 76px;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-item {
  font-weight: 500;
}
.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;

  transition: var(--trns-reg);
  transition-property: color;
}
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
}
.nav-link.current::after {
  background-color: var(--focus-cl);
}
.address {
  margin-left: auto;
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-item {
  font-weight: 400;
  color: var(--second-txt-cl);

  transition: var(--trns-reg);
  transition-property: color;
}
.nav-link:hover,
.nav-link:focus,
.address-item:hover,
.address-item:focus {
  color: var(--focus-cl);
}
/* #endregion */
/* #region Hero */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/portfolio/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--light-txt-cl);
}
.btn-order {
  margin: 0 auto;
  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;

  transition: var(--trns-reg);
  transition-property: color, background-color;
}
/* #endregion */
/* #region Principles */
.principles {
  padding-top: 120px;
}
.principles-list {
  display: flex;
  gap: 24px;
}
.principles-item {
  flex-basis: calc((100% - 72px / 4));
}
.principles-wrapper {
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-light-txt-cl);
  margin-bottom: 8px;
  border-radius: 4px;
}
/* #endregion */
/* #region Examples */
.examples {
  padding: 120px 0;
}
/* #endregion */
/* #region Team */
.team {
  padding: 120px 0;
  background-color: var(--second-light-txt-cl);
}
.team-list {
  --items: 4;
}
.team-item {
  box-shadow: 0 2px 1px 0 #2e2f4214, 0 1px 1px 0 #2e2f4229,
    0 1px 6px 0 #2e2f4214;
  border-radius: 0 0 4px 4px;
  background-color: var(--light-txt-cl);
}
.team-info {
  text-align: center;
}
.team-descript {
  margin-bottom: 8px;
}
.socials-team-list {
  gap: 24px;
}
.socials-team-link:hover,
.socials-team-link:focus {
  background-color: var(--focus-cl);
}
/* #endregion */
/* #region Customers */
.customers {
  padding: 120px 0;
}
.customers-list {
  --items: 6;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--helper-txt-cl);
  color: var(--helper-txt-cl);
  transition: var(--trns-reg);
  transition-property: color, border-color;
}
.customers-link:hover,
.customers-link:focus {
  color: var(--focus-cl);
  border-color: var(--focus-cl);
}
.customers-icon {
  fill: currentColor;
}
/* #endregion */
/* #region Portfolio */
.portfolio {
  padding: 96px 0 120px;
}
.portfolio-list {
  --indent-row: 48px;
}
.portfolio-info {
  border: 1px solid var(--border-cl);
  border-top: transparent;
}
.portfolio-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  font-weight: 400;
  line-height: 1.5;
  color: var(--second-light-txt-cl);
  background-color: var(--brand-cl);
  transition: var(--trns-reg);
  transition-property: transform;
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
  filter: blur(0px);
}
.bestsellers-img {
  border-radius: 15px 15px 0 0;
}
.btn-filter {
  min-width: 69px;
  padding: 12px 24px;
  color: var(--brand-cl);
  background-color: var(--second-light-txt-cl);
  border: 1px solid var(--border-cl);
  border-radius: 4px;
  box-shadow: none;

  transition: var(--trns-reg);
  transition-property: color, background-color, border-color, box-shadow;
}
.btn-filter:hover,
.btn-filter:focus {
  border-color: var(--focus-cl);
  box-shadow: 0 2px 2px 0 #0000001f, 0 2px 1px 0 #00000014,
    0 3px 1px 0 #0000001a;
}
.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
/* #endregion */
/* #region Footer */
.footer {
  padding: 100px 0;
  color: var(--second-light-txt-cl);
  background-color: var(--main-txt-cl);
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
}
.footer-txt {
  max-width: 264px;
}
.footer-wrapper {
  display: flex;
  align-items: baseline;
}
.footer-info {
  margin-right: 120px;
}
.footer-socials {
  margin-right: 80px;
}
.subscribe-title {
  margin-bottom: 16px;
}
.footer-subscribe {
  max-width: 453px;
  width: 100%;
}
.footer-form {
  max-width: 453px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-form-field {
  max-width: 264px;
  width: 100%;
}
.footer-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid var(--light-txt-cl);
  border-radius: 4px;
  background-color: var(--main-txt-cl);

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--light-txt-cl);
}
.footer-form-input::placeholder {
  color: var(--light-txt-cl);
}
.footer-form-input:focus {
  outline: none;
  /* border-color: var(--brand-cl); */
}
.btn-footer-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  transition: var(--trns-reg);
}
/* #endregion Footer */
/* #region Modal window */
.backdrop {
  position: fixed;
  inset: 0;

  background-color: var(--backdrop-cl);
  transition: var(--trns-reg);
  transition-property: opacity, visibility;
  transition-delay: 0ms;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: 500ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
  background-color: var(--modal-bg-cl);
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.42, 0, 0.21, 1.5);
  transition-property: transform, opacity;
  transition-delay: 600ms;
}
.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-50%) scale(0.3);
  opacity: 0;
  transition-delay: 0ms;
}
.modal-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--modal-btn-cl);
  border: 1px solid #0000001a;
  border-radius: 50%;

  transition: var(--trns-reg);
}
.modal-btn-icon {
  fill: var(--main-txt-cl);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--brand-cl);
  border: transparent;
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: var(--light-txt-cl);
}
.modal-title {
  max-width: 360px;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
}
/* Modal form */
.order-form-wrapper {
  margin-bottom: 8px;
}
.order-form-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--helper-txt-cl);
}
.order-form-field {
  position: relative;
  margin-top: 4px;
}
.order-form-input {
  width: 100%;
  height: 40px;
  padding: 11px 38px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--main-txt-cl);

  border: 1px solid var(--backdrop-cl);
  border-radius: 4px;
  outline: transparent;
  transition: var(--trns-reg);
}
.order-form-input:focus {
  border-color: var(--brand-cl);
}
.order-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--main-txt-cl);
  pointer-events: none;
  transition: var(--trns-reg);
}
.order-form-input:focus + .order-form-icon {
  fill: var(--brand-cl);
}
.order-form-message {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-top: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--main-txt-cl);

  border: 1px solid var(--backdrop-cl);
  border-radius: 4px;
  outline: transparent;
  resize: none;

  transition: var(--trns-reg);
}
.order-form-message:focus {
  border-color: var(--brand-cl);
}
.order-form-message::placeholder {
  color: var(--helper-txt-cl);
}
.order-comment {
  margin-bottom: 16px;
}
.order-form-agreement {
  margin-bottom: 16px;
}
.order-form-agreement-desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--helper-txt-cl);
}
.order-form-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid var(--backdrop-cl);
  cursor: pointer;
  transition: var(--trns-reg);
}
input[type='checkbox']:checked
  + .order-form-agreement-desc
  > .order-form-checkbox {
  border-color: transparent;
  background-color: var(--brand-cl);
}
.order-form-checkbox-icon {
  transform: scale(0.25);
  fill: transparent;
  transition: var(--trns-reg);
}
input[type='checkbox']:checked
  + .order-form-agreement-desc
  > .order-form-checkbox
  > .order-form-checkbox-icon {
  fill: var(--light-txt-cl);
  transform: scale(1);
}
.order-form-agreement-link {
  color: var(--brand-cl);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
/* #endregion */
